{{#furniture}}
<div class="gv-elex-heading">{{heading}}</div>
<div class="gv-summary-wrapper">
    <div class="gv-progress-stamp">{{progress}}{{/furniture}}</div>


    {{#parties}} {{#vvd}}
    <div class="gv-summary" id="VVD">
        <h3>Labour</h3><span class="gv-seats-summary vvd">{{seats}} seats {{#seatschange}}({{seatschangemessage}}){{/seatschange}}</span>
    </div> {{/vvd}} {{#pvv}}
    <div class="gv-summary" id="PVV">
        <h3>National</h3><span class="gv-seats-summary pvv">{{seats}} seats {{#seatschange}}({{seatschangemessage}}){{/seatschange}}</span>
    </div> {{/pvv}} {{/parties}}
</div>


<div class="gv-elex-chamber-wrapper">
    <div class="gv-elex-chamber">
        {{#parties}}
        <div class="gv-elex-bar gv-{{party}}"></div>
        {{/parties}}
    </div>

    <div class="gv-halfway-line"><span>50% of seats</span></div>
</div>

<div class="gv-elex-legend">
    {{#parties}}
    <div class="gv-elex-legend-entry">
        <div class="gv-elex-blob gv-{{party}}"></div>
        {{party}} {{#displayname}}({{displayname}}){{/displayname}} {{seats}} seats
    </div>
    {{/parties}}
</div>
<div class="gv-elex-footer">{{#furniture}}{{#turnoutpercent}}Turnout: {{turnoutpercent}}%{{/turnoutpercent}}{{/furniture}}</div>